@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }

  .row.display-flex {
    display: flex;
    flex-wrap: wrap;
  }

    .row.display-flex > [class*='col-'] {
      display: flex;
      flex-direction: column;
    }
  input.ng-invalid.ng-dirty {
    background-color: red;
  }

  input.ng-valid.ng-dirty {
    background-color: white;
  }
}
