<div class="container-fluid">
  <h1>Address BookDetail</h1>
  <p *ngIf="!addressBookView"><em>Loading...</em></p>
  <div class="container">
    <div *ngIf="addressBookView">
      <form #addressBookDetailForm="ngForm" (ngSubmit)="onSubmit()">
    
        <ul class="flex-outer">
          <li>
            <label for="name">Name</label>
            <p>
              <input [(ngModel)]="addressBookView.name" name="name" type="text" id="name" placeholder="Enter your name here">
            </p>
          </li>

          <li>
            <label for="name">First Name</label>
            <p>
              <input [(ngModel)]="addressBookView.firstName" name="firstName" type="text" id="firstname" placeholder="Enter your first name here">
            </p>
          </li>
          <li>
            <label for="name">Last Name</label>
            <p>
              <input [(ngModel)]="addressBookView.lastName" name="lastName" type="text" id="lastname" placeholder="Enter your last name here">
            </p>
          </li>
          <li>
            <label for="name">Company Name</label>
            <p>
              <input [(ngModel)]="addressBookView.companyName" name="companyName" type="text" id="lastname" placeholder="Enter your company name here">
            </p>
          </li>
          <li>
            <button type="submit">Submit</button>
          </li>

        </ul>
      </form>
    </div>
  </div>
   
</div>
