<h1>Personal Expense</h1>

<style type="text/css">
  input.ng-invalid.ng-dirty {
    background-color: red;
  }

  input.ng-valid.ng-dirty {
    background-color: white;
  }
</style>
<p *ngIf="!coaPersonalExpenses"><em>Loading...</em></p>

  <div class=“container-fluid” *ngIf="coaPersonalExpenses">

   
    <form #expenseForm="ngForm">
      <button type="button" class="btn btn-default" (click)="queryExpense()">Query</button>
      <input required type="text" [(ngModel)]="queryGeneralLedgerId" name="queryGeneralLedgerId" />

      <div class="form-group">
        <label>Expense Type</label>
        <select class="form-control"
                name="expenseType" [(ngModel)]="personalExpense.accountId">
          <option *ngFor="let pe of coaPersonalExpenses"
                  value="{{pe.accountId}}">
            {{pe.description}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label>Amount</label>{{personalExpense.amount}}
      </div>

      <div class="form-group">
        <label>addressId:</label>{{personalExpense.addressId}}
      </div>

      <div class="form-group">
        <label>units</label>{{personalExpense.units}}
      </div>
      <div class="form-group">
        <label>generalLedgerId</label> {{personalExpense.generalLedgerId}}
      </div>
      <div class="form-group">
        <label>docNumber:</label> {{personalExpense.docNumber}}
      </div>
      <div class="form-group">
        <label>docType:</label> {{personalExpense.docType}}
      </div>
      <div class="form-group">
        <label>ledgerType:</label> {{personalExpense.ledgerType}}
      </div>
      <div class="form-group">
        <label>gldate:</label>{{personalExpense.glDate}}
      </div>
      <div class="form-group">
        <label>accountId:</label> {{personalExpense.accountId}}
      </div>
      <div class="form-group">
        <label>createdDate:</label> {{personalExpense.createdDate}}
      </div>
      <div class="form-group">
        <label>comment:</label> {{personalExpense.comment}}
      </div>
      <div class="form-group">
        <label>debitAmount:</label> {{personalExpense.debtAmount}}
      </div>
      <div class="form-group">
        <label>creditAmount:</label> {{personalExpense.creditAmount}}
      </div>
      <div class="form-group">
        <label>fiscalYear:</label>{{personalExpense.fiscalYear}}
      </div>
      <div class="form-group">
        <label>fiscalPeriod:</label> {{personalExpense.fiscalPeriod}}
      </div>
      <div class="form-group">
        <label>checkNumber:</label> {{personalExpense.checkNumber}}
      </div>
      <div class="form-group">
        <label>purchaseOrderNumber:</label> {{personalExpense.purchaseOrderNumber}}
      </div>







    </form>


  </div>
