<div class="container-fluid">
  <h1>Budget Payments Web Api</h1>

  <p *ngIf="!budgets"><em>Loading...</em></p>

  <div *ngIf="budgets">

    <form #frmInput="ngForm" name="paymentForm" (ngSubmit)="onSubmit(frmInput.form)">
      <div class="form-group">
        <div class="col-xs-3">
          <ul class="list-group" *ngFor="let budget of budgets">
            <a class="list-group-item py-2" (click)="queryClick(budget)">
              {{budget.description}}
              <span class="pull-right button-group">
                <button type="button" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-edit"></span></button>
              </span>
            </a>
          </ul>
        </div>
        <div class="col-xs-9">
          <div *ngIf="postPayment">
            <div class="form-group">
              <div class="col-xs-9">
                <label >{{postPayment.description}}</label>
                <small>Amt Due: {{postPayment.budgetAmount/postPayment.payCycles}}</small>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-9">
                <label for="ctrl1">Payment Amount:</label>
                <input #amount="ngModel" [(ngModel)]="postPayment.paymentAmount" name="paymentAmount" required type="text" class="form-control">
                <label id="error1" *ngIf="amount.control.hasError('required') " class="alert alert-danger validation-message">
                  Payment Amount required
                </label>

              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-9">
                <label for="ctrl2">Payment Hours:</label>
                <input id="ctrl2" [(ngModel)]="postPayment.paymentHours" type="text" name="paymentHours" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-9">
                <label for="ctrl3">Payment GL Date:</label>

                <input id="ctrl3" #glDate="ngModel" [ngModel]="postPayment.glDate | date:'y-MM-dd'" type="date" (ngModelChange)="dateChanged($event)" required name="glDate" class="form-control" placeholder="Enter the GL Date">

                  <label id="error2" *ngIf="glDate.control.hasError('required') " class="alert alert-danger validation-message">
                  GL Date required
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-9">
                <button type="submit" class="btn btn-success" [disabled]="frmInput.form.invalid" >Submit</button>
              </div>
              </div>
            </div>

            </div>

          </div>

     


    </form>


  </div>
</div>




