<h1>Personal Expense</h1>


<p *ngIf="!personalExpense"><em>Loading...</em></p>



<div class=“container-fluid”>

   {{diagnostic}}
  <form #expenseForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="coa">Expense Type</label>
      <select class="form-control" id="personalExpense" required>
        <option *ngFor="let pe of coaPersonalExpenses" [value]="pe.accountId">{{pe.description}}</option>
      </select>

      <label for="name">Amount</label>
      <input required #spy type="text" [(ngModel)]="personalExpense.amount" id="amount" class="form-control" name="amount" required>
      <br>TODO: remove this: {{spy.className}}
      <div [hidden]="amount.valid || amount.pristine"
           class="alert alert-danger">
        Name is required
      </div>
      <button type="submit" class="btn btn-success">Submit</button>
      <button type="button" class="btn btn-default" (click)="newHero()">New Hero</button>
    </div>
    

  </form>

  


</div>
